@import "tailwindcss";
@media print {
  /* Hide everything */
  body * {
    visibility: hidden;
  }
  /* Show only the notice container and its children */
  #notice-preview, #notice-preview * {
    visibility: visible;
  }
  /* Position the notice at the very top-left of the printed page */
  #notice-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none !important;
    shadow: none !important;
  }
}

.brand-ice-blue-text{
  color: #C2D2E1;
}

.brand-ice-blue-bg{
  color: #C2D2E1;
}
.brand-light-green-text{
  color: #BAD9C9;
}

.brand-light-green-bg{
  color: #BAD9C9;
}
.brand-tan-text{
  color: #D4C8BC;
}

.brand-tan-bg{
  color: #D4C8BC;
}
.brand-blue-gray-text{
  color: #5A748B;
}

.brand-blue-gray-bg{
  color: #5A748B;
}
